.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* padding-top: 5%; */
    height: 100vh;
}

.aboutMe{
    color: coral;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    font-size: 130%;
    height: 45vh;
}

.aboutContentContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

/* ------------------------- MEDIA QUERIES ------------------------- */

/* ------------------------- 390 X 844 Iphone 12 Pro ------------------------- */
@media (max-width: 420px) {
    .imageTilt {
      display:none;
    }
    .aboutMe{
        width: 100%;
        align-items: center;
    }
  }