.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #8c00ff00;
  position: sticky;
  z-index: 1;
  width: 100%;
  align-items: center;
  height: 8%;
  /* backdrop-filter: blur(8px); */
  top: 0;
}

.myName {
  display: flex;
  margin-left: 12vh;
  color: coral;
}

.tags {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-evenly;
  font-size: 20px;
  margin-right: 5vh;
  /* font-weight: 600; */
}

.menues {
  text-decoration: none;
  color: coral;
}

.menues:hover {
  text-decoration: none;
  color: rgb(255, 230, 221);
  transition: color 0.3s;
}

.toggleButton {
  /* position: absolute; */
  top: .75rem;
  right: 1.4rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-right: 20px;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* ------------------------- MEDIA QUERIES ------------------------- */

/* ------------------------- 420px+ ------------------------- */
@media (min-width: 421px) {
.headerContainer{
  backdrop-filter: blur(8px);
  }
}


/* ------------------------- 390 X 844 Iphone 12 Pro ------------------------- */
@media (max-width: 420px) {
  .tags {
    /* font-size: 12px;
    justify-content: center;
    flex-direction: column; */

    margin-right: 0;
    width: 100%;
    left: -100%;
    position: fixed;
    transition: 0.3s;
    top: 60px;
    backdrop-filter: blur(8px);
    background-color: #8c00ff00;

    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: space-between;
  }
  .menues{
    width: 50%;
    height: 25px;
  }
  .myName{
    margin-left: 2%;
    width: 28%;
  }
  .toggleButton{
    display: flex;
  }
  .headerContainer{
    /* flex-direction: column; */
    align-items: center;
    background-color: #021d3b;
    /* backdrop-filter: blur(8px); */
  }
  .visible{
    /* border-radius: 8px; */
    left: 0;
  }
}